*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    height: 100%;
}
#back{
    width: 100%;
    height: 100vh;
    background-color: red;
}
#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#top{
    pointer-events: none;
    position:absolute;
    top: 0;
    left: 0;
     width: 100%;
    height: 100%;
   
}
#workingarea{
    position: relative;
    margin: 0 auto;
width: 80%;
height: 100vh;
max-width: 1920px;

}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px 0;

}
#nav img{
    height: 60px;
}
#nleft , #nright{
    display: flex;
    align-items: center;
    gap: 5vh;
}
#nav a{
    pointer-events: all;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    font-family: "gilroy";
    text-decoration: none;
}
#hero{
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    transform: translate(0, -50%);
}
#heroleft{

  min-width: 50%;
    height: 100px;
   
    
}
#heroleft #elem{
    position: relative;
    height: 9vw;
    overflow: hidden;

}
#heroleft #elem h1{
    position: absolute;
    top: 100%;
    left: 0;
    line-height: .9;
font-family: "kajiro";
color: #fff;
font-weight: 100;
font-size: 10vw;
}
#heroleft #elem h1:nth-child(1){
    top: 0;
}
#heroleft button{
    pointer-events: all;
    padding: 1vw 3vw ;
    font-size: 4vw;
    font-family: "kajiro";
    line-height: .7;
}
#heroright{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 20%;
    
 color: #fff;
   
}
#heroright p{
    margin-bottom: 50px;
    text-align: right;
    font-size: 14px;
    font-weight: 300;
}
#heroright #imgediv{
    width: 100%;
    height: 200px;
    background-color: rgb(140, 0, 255);
}
#heroright p:nth-child(3){
    margin-bottom: 100px;
}